.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 60vw;
    aspect-ratio: 16/9;
    z-index: 99;
    transition: transform 500ms;
  }
  
  .model.show {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .model::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
  }
  
  .content {
    text-align: center;
  }
