.navbar {
    width: 100vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    padding: 1em 8em;
}

.btns button:not(:hover) {
    background: linear-gradient(120.29deg, #005B56 0%, #014339 100%);  color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

.btns button:hover {
    box-shadow: 0px 0px 10px 5px #005B56;
    transition: all .5s ease;
    background: linear-gradient(120.29deg, #005B56 0%, #014339 100%);  color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}